.bi.bi-breadcrumb {
  ol {
    @apply list-none m-2 p-3 rounded-lg bg-gray-200;

    box-sizing: border-box;

    li {
      @apply inline text-default font-sans font-normal text-base leading-tight;

      &::after {
        @apply mx-3;

        content: "/";
      }

      &:last-child::after {
        content: "";
      }

      a {
        @apply no-underline text-default font-sans font-normal text-base leading-tight;
      }
    }
  }

  &.breadcrumb-default ol li a {
    @apply text-default;
  }

  &.breadcrumb-primary ol li a {
    @apply text-primary;
  }

  &.breadcrumb-secondary ol li a {
    @apply text-secondary;
  }

  &.breadcrumb-info ol li a {
    @apply text-info;
  }

  &.breadcrumb-success ol li a {
    @apply text-success;
  }

  &.breadcrumb-warning ol li a {
    @apply text-warning;
  }

  &.breadcrumb-danger ol li a {
    @apply text-danger;
  }

  &.breadcrumb-item .bi.bi-icon {
    @apply mr-2;
  }
}
