.bi.bi-image {
  vertical-align: middle;
  box-sizing: border-box;
  max-width: 100%;
  height: auto;

  @apply rounded shadow;

  + .bi.bi-image {
    @apply ml-4;
  }

  &.bi-img-thumb {
    @apply border-8 border-solid border-white;
  }
}
