@import '../../../../theme/utils/functions';

$light-line-color: rgba(255, 255, 255, 0.4);
$dark-line-color: rgba(0, 0, 0, 0.2);

.bi.bi-divider {
  border: 0;
  border-color: $dark-line-color;
  border-style: solid;
  border-top-width: rem(1px);
  height: rem(1px);
  text-align: center;
  @apply mt-5 mb-5;

  // Nested text
  &.divider-text {
    border: 0;
    height: auto;
    overflow: hidden;
    text-align: center;

    &::after,
    &::before {
      border: 0;
      border-color: $dark-line-color;
      border-style: solid;
      border-top-width: rem(1px);
      content: '';
      display: inline-block;
      height: rem(1px);
      position: relative;
      vertical-align: middle;
      width: 50%;
    }

    &::before {
      margin-left: -50%;
      right: 0.5em;
    }

    &::after {
      left: 0.5em;
      margin-right: -50%;
    }

    span {
      @apply pl-2 pr-2;
    }
  }

  // Light
  &.divider-light {
    border-color: $light-line-color;

    &.divider-text {
      &::after,
      &::before {
        border-color: $light-line-color;
      }
    }
  }

  &.divider-fancy {
    border-bottom-style: solid;
    border-bottom-width: rem(1px);
    position: relative;

    &.divider-text {
      border: 0;

      &::after,
      &::before {
        display: inline-block;
        border-bottom-style: solid;
        border-bottom-width: rem(1px);
        border-top-style: solid;
        border-top-width: rem(1px);
        height: rem(8px);
      }
    }
  }

  // dashed
  &.divider-dashed {
    border-style: dashed;

    &.divider-text {
      &::after,
      &::before {
        border-style: dashed;
      }
    }
  }

  &.divider-clearfix {
    clear: both;
  }
}
