// ---------------------
// FADEIN ANIMATION
// ---------------------
@mixin fadeIn($duration: 0.5s) {
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1vh;
  animation-name: AnimationFadeIn;
  animation-duration: $duration;
  animation-timing-function: ease-in-out;
}


.bi.bi-anim-fade-in {
  @include fadeIn();
}

// ---------------------
// SCALE ANIMATION
// ---------------------
@mixin zoomIn($duration: 0.5s) {
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1vh;
  animation-name: AnimationZoomIn;
  animation-duration: $duration;
  animation-timing-function: ease-in-out;
}

@keyframes AnimationZoomIn {
  from {
    opacity: 0;
    transform: scale(0.975);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.bi.bi-anim-zoom-in {
  @include zoomIn();
}

// ---------------------
// SLIDE TOP ANIMATION
// ---------------------
@mixin slideTop($duration: 0.5s) {
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1vh;
  animation-name: AnimationSlideTop;
  animation-duration: $duration;
  animation-timing-function: ease-in-out;
}

@keyframes AnimationSlideTop {
  from {
    opacity: 0;
    transform: translateY(-2.5%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.bi.bi-anim-slide-top {
  @include slideTop();
}

// ---------------------
// SLIDE BOTTOM ANIMATION
// ---------------------
@mixin slideBottom($duration: 0.5s) {
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1vh;
  animation-name: AnimationSlideBottom;
  animation-duration: $duration;
  animation-timing-function: ease-in-out;
}

@keyframes AnimationSlideBottom {
  from {
    opacity: 0;
    transform: translateY(2.5%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

.bi.bi-anim-slide-bottom {
  @include slideBottom();
}

// ---------------------
// SLIDE RIGHT ANIMATION
// ---------------------
@mixin slideRight($duration: 0.5s) {
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1vh;
  animation-name: AnimationSlideRight;
  animation-duration: $duration;
  animation-timing-function: ease-in-out;
}

@keyframes AnimationSlideRight {
  from {
    opacity: 0;
    transform: translateX(2.5%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.bi.bi-anim-slide-right {
  @include slideRight();
}

// ---------------------
// SLIDE LEFT ANIMATION
// ---------------------
@mixin slideLeft($duration: 0.5s) {
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1vh;
  animation-name: AnimationSlideLeft;
  animation-duration: $duration;
  animation-timing-function: linear;
}

@keyframes AnimationSlideLeft {
  from {
    opacity: 0;
    transform: translateX(-2.5%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.bi.bi-anim-slide-left {
  @include slideLeft();
}
