// ---------------------
// FADEIN ANIMATION
// ---------------------
@mixin fadeIn($duration: 0.5s) {
  opacity: 0;
  animation-name: AnimationFadeIn;
  animation-duration: $duration;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 0.1s;
}

@keyframes AnimationFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// ---------------------
// SCALE ANIMATION
// ---------------------
@mixin scale() {
  animation-name: scaleAnimation;
  animation-duration: 0.4s;
}

@keyframes scaleAnimation {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

// ---------------------
// SLIDETOP ANIMATION
// ---------------------
@mixin slideTop() {
  animation-name: animateTop;
  animation-duration: 0.4s;
}

@keyframes animateTop {
  from {
    transform: translateY(-10%);
  }

  to {
    transform: translateY(0%);
  }
}

// ---------------------
// SLIDEBOTTOM ANIMATION
// ---------------------
@mixin slideBottom() {
  animation-name: animateBottom;
  animation-duration: 0.4s;
}

@keyframes animateBottom {
  from {
    transform: translateY(10%);
  }

  to {
    transform: translateY(0%);
  }
}

// ---------------------
// SLIDERIGHT ANIMATION
// ---------------------
@mixin slideRight() {
  animation-name: slideRightAnimation;
  animation-duration: 0.4s;
  transition-timing-function: linear;
}

@keyframes slideRightAnimation {
  from {
    transform: translateX(10%);
  }

  to {
    transform: translateX(0);
  }
}

// ---------------------
// SLIDELEFT ANIMATION
// ---------------------
@mixin slideLeft() {
  animation-name: slideLeftAnimation;
  animation-duration: 0.4s;
  transition-timing-function: linear;
}

@keyframes slideLeftAnimation {
  from {
    transform: translateX(-10%);
  }

  to {
    transform: translateX(0);
  }
}
