@mixin create-acc-color($colorName) {
  &.acc-color-#{$colorName} {
    @apply border-t border-b-0 border-r border-l border-solid;

    border-color: theme("colors.#{$colorName}");

    .bi.bi-acc-content {
      @apply border-t-0;

      &.acc-content-show {
        @apply border-t-0 border-b;

        border-color: theme("colors.#{$colorName}");

        .acc-title-button {
          @apply text-#{$colorName} border-b-0;
        }

        .acc-content {
          flex-basis: auto;
        }

        &:last-child {
          @apply border-b;
        }
      }

      .acc-title-button {
        @apply text-#{$colorName}-darker border-t-0  border-b border-solid;

        border-color: theme("colors.#{$colorName}");
      }
    }
  }
}

.bi.bi-accordion {
  @apply max-w-full rounded font-sans overflow-hidden border border-solid border-t-0;

  border-color: theme("colors.default");

  + .bi.bi-accordion {
    @apply mt-4;
  }

  .bi.bi-acc-content {
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-color: theme("colors.default");

    @apply text-default-darker border-t border-r-0  border-l-0 border-b-0 border-solid;

    &:last-child {
      @apply border-b-0;
    }

    &.acc-vertical {
      flex-direction: row;
    }

    .acc-title-button {
      @apply font-sans text-default-darker text-left m-0 p-3 font-medium bg-default-lighter rounded-none;
    }

    > .acc-content {
      @apply px-3 overflow-hidden;

      flex-basis: 0;
    }
  }

  &.acc-color-default {
    .acc-content-show {
      @apply bg-white;

      .acc-title-button {
        @apply text-primary bg-white;
      }

      .acc-content {
        @apply text-default-darker;

        flex-basis: auto;
      }
    }
  }

  // ----------------------------
  // COLORS
  // ----------------------------
  @include create-acc-color("primary");
  @include create-acc-color("secondary");
  @include create-acc-color("info");
  @include create-acc-color("warning");
  @include create-acc-color("danger");
  @include create-acc-color("success");
}
