@import "../../../theme/utils/animations.scss";

.bi-show-modal {
  display: flex;
  flex-direction: column;

  .modal-backdrop {
    @apply inset-0 w-full h-full fixed;

    z-index: 9999;
    background-color: #8c97a57a;
  }

  .bi.bi-modal {
    @apply block mx-auto mt-4 bg-white border border-solid rounded font-sans inset-x-0 top-0;

    .bi-modal-title {
      @apply border-t-0 border-r-0 border-l-0 border-b border-solid p-4;

      border-color: theme("colors.default");
    }

    .bi-modal-body {
      @apply p-4 overflow-y-scroll m-1;

      max-height: 10rem;
    }

    .bi-modal-footer {
      @apply border-b-0 border-r-0 border-l-0 border-t border-solid p-4 flex flex-row-reverse;

      border-color: theme("colors.default");
    }

    &.modal-open {
      @apply bg-white fixed mt-4;

      z-index: 9999;
      max-width: 31rem;
      border-color: theme("colors.default");
    }

    &.modal-centered {
      @apply mt-0;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.modal-small {
      max-width: 15rem;
    }

    &.modal-large {
      max-width: 60rem;
    }

    // ----------------------------
    // ANIMATION
    // ----------------------------
    &.modal-fade {
      @include fadeIn;
    }

    &.modal-scale {
      @include scale;
    }

    &.modal-slideRight {
      @include slideRight;
    }

    &.modal-slideLeft {
      @include slideLeft;
    }

    &.modal-slideTop {
      @include slideTop();
    }

    &.modal-slideBottom {
      @include slideBottom();
    }

    .close-button {
      @apply float-right p-4;
    }
  }
}

.bi.bi-btn.btn-block.align-button {
  @apply ml-4;

  width: 15rem;

  + .bi.bi-btn.btn-block.align-button {
    @apply ml-4  float-left;
  }
}
