@import "../../../theme/utils/animations";

#bi-popups {
  @apply relative;

  .bi-popup {
    @apply absolute border border-solid p-2 bg-white rounded text-default-darker leading-tight font-normal font-sans text-base;

    border-color: theme("colors.default-light");
    z-index: 9999;

    @include fadeIn(0.25s);

    .popup-title {
      @apply mx-0 mt-0 mb-2 font-medium text-base;
    }

    // -------------------
    // ARROW POSITIONS
    // -------------------
    &::before {
      @apply absolute w-0 h-0;

      content: "";
      z-index: 999;
    }

    &::after {
      @apply border h-0 absolute;

      content: "";
    }

    &.popup-top-center {
      &::before {
        bottom: -0.4rem;
        left: 50%;
        transform: translate(-50%, 0);
        border-top: 0.5rem solid white;
        border-right: 0.5rem solid transparent;
        border-left: 0.5rem solid transparent;
        border-bottom: 0 solid transparent;
      }

      &::after {
        bottom: -0.5rem;
        left: 50%;
        transform: translate(-50%, 0);
        border-top: 0.5rem solid;
        border-right: 0.5rem solid transparent;
        border-left: 0.5rem solid transparent;
        border-bottom: 0 solid transparent;
        border-top-color: theme("colors.default-light");
      }
    }

    &.popup-top-left {
      &::before {
        bottom: -0.4rem;
        left: 10%;
        transform: translate(-50%, 0);
        border-top: 0.5rem solid white;
        border-right: 0.5rem solid transparent;
        border-left: 0.5rem solid transparent;
        border-bottom: 0 solid transparent;
      }

      &::after {
        bottom: -0.5rem;
        left: 10%;
        transform: translate(-50%, 0);
        border-top: 0.5rem solid;
        border-right: 0.5rem solid transparent;
        border-left: 0.5rem solid transparent;
        border-bottom: 0 solid transparent;
        border-top-color: theme("colors.default-light");
      }
    }

    &.popup-top-right {
      &::before {
        bottom: -0.4rem;
        left: 90%;
        transform: translate(-50%, 0);
        border-top: 0.5rem solid white;
        border-right: 0.5rem solid transparent;
        border-left: 0.5rem solid transparent;
        border-bottom: 0 solid transparent;
      }

      &::after {
        bottom: -0.5rem;
        left: 90%;
        transform: translate(-50%, 0);
        border-top: 0.5rem solid;
        border-right: 0.5rem solid transparent;
        border-left: 0.5rem solid transparent;
        border-bottom: 0 solid transparent;
        border-top-color: theme("colors.default-light");
      }
    }

    &.popup-bottom-center {
      &::before {
        top: -0.4rem;
        left: 50%;
        transform: translate(-50%, 0);
        border-bottom: 0.5rem solid white;
        border-right: 0.5rem solid transparent;
        border-left: 0.5rem solid transparent;
        border-top: 0 solid transparent;
      }

      &::after {
        top: -0.5rem;
        left: 50%;
        transform: translate(-50%, 0);
        border-bottom: 0.5rem solid;
        border-right: 0.5rem solid transparent;
        border-left: 0.5rem solid transparent;
        border-top: 0 solid transparent;
        border-bottom-color: theme("colors.default-light");
      }
    }

    &.popup-bottom-left {
      &::before {
        top: -0.4rem;
        left: 10%;
        transform: translate(-50%, 0);
        border-bottom: 0.5rem solid white;
        border-right: 0.5rem solid transparent;
        border-left: 0.5rem solid transparent;
        border-top: 0 solid transparent;
      }

      &::after {
        top: -0.5rem;
        left: 10%;
        transform: translate(-50%, 0);
        border-bottom: 0.5rem solid;
        border-right: 0.5rem solid transparent;
        border-left: 0.5rem solid transparent;
        border-top: 0 solid transparent;
        border-bottom-color: theme("colors.default-light");
      }
    }

    &.popup-bottom-right {
      &::before {
        top: -0.4rem;
        left: 90%;
        transform: translate(-50%, 0);
        border-bottom: 0.5rem solid white;
        border-right: 0.5rem solid transparent;
        border-left: 0.5rem solid transparent;
        border-top: 0 solid transparent;
      }

      &::after {
        top: -0.5rem;
        left: 90%;
        transform: translate(-50%, 0);
        border-bottom: 0.5rem solid;
        border-right: 0.5rem solid transparent;
        border-left: 0.5rem solid transparent;
        border-top: 0 solid transparent;
        border-bottom-color: theme("colors.default-light");
      }
    }

    &.popup-left-center {
      &::before {
        left: 99%;
        top: 50%;
        transform: translate(0, -50%);
        border-left: 0.5rem solid white;
        border-top: 0.5rem solid transparent;
        border-bottom: 0.5rem solid transparent;
        border-right: 0 solid transparent;
      }

      &::after {
        top: 50%;
        left: 100%;
        transform: translate(0, -50%);
        border-left: 0.5rem solid;
        border-top: 0.5rem solid transparent;
        border-bottom: 0.5rem solid transparent;
        border-right: 0 solid transparent;
        border-left-color: theme("colors.default-light");
      }
    }

    &.popup-right-center {
      &::before {
        right: 99%;
        top: 50%;
        transform: translate(0, -50%);
        border-right: 0.5rem solid white;
        border-top: 0.5rem solid transparent;
        border-bottom: 0.5rem solid transparent;
        border-left: 0 solid transparent;
      }

      &::after {
        top: 50%;
        right: 100%;
        transform: translate(0, -50%);
        border-right: 0.5rem solid;
        border-top: 0.5rem solid transparent;
        border-bottom: 0.5rem solid transparent;
        border-left: 0 solid transparent;
        border-right-color: theme("colors.default-light");
      }
    }

    &.popup-hide-arrow {
      &::before,
      &::after {
        display: none;
      }
    }
  }
}
