@import './create-options-list-color';
@import './create-options-list-outline';

.bi.bi-select-options-list {
  box-sizing: border-box;
  user-select: none;
  max-height: 225px;
  overflow: scroll;
  backface-visibility: hidden;
  animation: selectOptionsList 0.2s linear;

  @apply w-full bg-white border border-solid border-default-light py-3 mt-1 rounded;

  .list-wrapper {
    .no-items {
      @apply block px-4 py-2 text-sm text-default-dark leading-tight font-sans font-normal;
    }

    ul {
      margin: 0;
      padding: 0;

      .list-item {
        list-style: none;
        outline: none;
        background-color: transparent;
        transition: background-color 250ms ease-in-out, color 300ms ease-out;
        cursor: pointer;
        @apply px-4 py-2 text-sm text-default-dark leading-tight font-sans font-normal;

        &:hover:not(.disabled):not(.selected) {
          @apply bg-default-lighter;
        }

        // stylelint-disable selector-no-qualifying-type
        &.selected {
          @apply bg-default-light;
        }

        &.disabled {
          cursor: not-allowed;
          opacity: 0.5;
        }

        &.list-divider {
          border: 0;
          padding: 0;
          background: none;
          cursor: none;
          @apply border-b border-solid my-4 border-default-light;

          &:hover {
            background: none;
          }
        }
      }
    }
  }

  // Color
  @include create-options-list-color('primary');
  @include create-options-list-color('secondary');
  @include create-options-list-color('info');
  @include create-options-list-color('warning');
  @include create-options-list-color('success');
  @include create-options-list-color('danger');

  // Outlines
  @include create-options-list-outline('primary');
  @include create-options-list-outline('secondary');
  @include create-options-list-outline('info');
  @include create-options-list-outline('warning');
  @include create-options-list-outline('success');
  @include create-options-list-outline('danger');

  &.filtrable-list {
    overflow: hidden;
    @apply pt-20;

    .bi.bi-select-filter {
      border-bottom: 1px solid;
      @apply absolute pin-t pin-l pin-r p-4 text-default-light bg-default-lighter;

      .bi.bi-input {
        margin: 0;
      }
    }

    .list-wrapper {
      max-height: 175px;
      overflow: scroll;
    }
  }
}

@keyframes selectOptionsList {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
