@import 'create-spinner-color';

.bi.bi-spinner {
  display: inline-block;
  text-align: center;
  vertical-align: middle;

  > span {
    margin-top: 1rem;
    display: block;
  }

  // colors
  @include create-spinner-color('white');
  @include create-spinner-color('black');
  @include create-spinner-color('default');
  @include create-spinner-color('primary');
  @include create-spinner-color('secondary');
  @include create-spinner-color('info');
  @include create-spinner-color('success');
  @include create-spinner-color('warning');
  @include create-spinner-color('danger');
}
