@import './make-chevron-color';

.bi.bi-chevron {
  @apply pointer-events-none text-default;

  svg {
    @apply fill-current;
  }

  &.animated {
    transition: transform 250ms ease-in-out;
  }

  &.chevron-dir-left {
    transform: rotate(90deg);
  }

  &.chevron-dir-right {
    transform: rotate(-90deg);
  }

  &.chevron-dir-up {
    transform: rotate(180deg);
  }

  @include chevron-color('primary');
  @include chevron-color('secondary');
  @include chevron-color('info');
  @include chevron-color('success');
  @include chevron-color('warning');
  @include chevron-color('danger');
}
