.bi.bi-card {
  @apply bg-white max-w-sm px-6 py-4;

  &.card-shadow {
    @apply shadow;
  }

  &.card-fluid {
    max-width: 100%;
    width: 100%;
  }

  .bi.bi-tab {
    width: auto;
    @apply -mx-6 -mt-4;
  }
}
