.bi.bi-sidebar-item {
  @apply relative font-sans text-default;
  cursor: pointer;
  border-bottom: 0.05rem solid rgba(0, 0, 0, 0.1);

  &.hasChild .item-content::before {
    content: 'E';
    font-family: ElegantIcons, sans-serif;
    position: absolute;
    top: 50%;
    display: block;
    transform: translateY(-50%);
    right: 0;
    font-size: 0.8rem;
    line-height: 1;
    @apply pr-4;
  }

  .item-content {
    user-select: none;
    transition: border 250ms ease-in-out;
    position: relative;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    @apply relative pl-4 pr-6 py-3 text-default font-sans;

    .sidebar-item-icon {
      transition: margin-right 250ms ease-in-out;
      @apply mr-4 text-primary;
    }

    .item-title {
      margin-right: 10px;
    }
  }

  // active or hover effect
  &.item-active,
  &:hover {
    > .item-content  {
      @apply border-l-4 border-primary;
    }
  }

  &:last-child {
    border-bottom: 0;
  }

  // RIPPLE
  &.sidebar-ripple .item-content {
    overflow: hidden;

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;
      background-image: radial-gradient(circle, #000 10%, transparent 10%);
      background-repeat: no-repeat;
      background-position: 50%;
      transform: scale(10, 10);
      opacity: 0;
      transition: transform 0.3s, opacity 1s;
    }

    &:active::after {
      transform: scale(0, 0);
      opacity: 0.1;
      transition: 0s;
    }
  }
}
