@import 'checkbox-color';

.bi.bi-checkbox {
  cursor: pointer;
  display: inline-block;
  user-select: none;

  @apply mr-2 relative font-sans text-default-dark font-normal border-0 text-sm;

  > input {
    opacity: 0;
    visibility: hidden;
    display: none;
  }

  .check-icon {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    float: left;
    cursor: pointer;
    transform: translateZ(0);
    transition: background-color 200ms ease-in-out;
    @apply relative rounded bg-default text-default-dark mr-2;

    svg {
      width: 0.6rem;
      height: 0.5rem;
      position: absolute;
      fill: none;
      stroke: #fff;
      stroke-width: 2px;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: 1rem;
      stroke-dashoffset: 1rem;
      transition: all 200ms ease-in-out;
      transition-delay: 100ms;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      display: block;
      transform: scale(0);
      opacity: 1;
      border-radius: 50%;

      @apply bg-default;
    }
  }

  &.checked .check-icon {
    animation: clicked 0.4s ease;

    svg {
      stroke-dashoffset: 0;
    }

    &::before {
      transform: scale(3.5);
      opacity: 0;
      transition: all 0.6s ease;
      visibility: hidden;
    }
  }

  label {
    cursor: pointer;
    line-height: 1.4;
  }

  &.disabled {
    opacity: 0.5;
  }

  &.rounded .check-icon {
    width: 1.14rem;
    height: 1.14rem;
    border-radius: 50%;

    svg {
      height: 0.6rem;
    }
  }

  // COLORS
  @include checkbox-color('primary');
  @include checkbox-color('secondary');
  @include checkbox-color('info');
  @include checkbox-color('success');
  @include checkbox-color('warning');
  @include checkbox-color('danger');
  @include checkbox-color('black');

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

@keyframes clicked {
  50% {
    transform: scale(0.9);
  }
}
