@import './generate-toggle-color';

// sizes
$small-w: 40px;
$small-h: 24px;

$default-w: 48px;
$default-h: 30px;

$large-w: 60px;
$large-h: 38px;

.bi.bi-toggle {
  .toggle-switch {
    user-select: none;
    box-sizing: content-box;
    background-clip: content-box;
    transition: background-color 250ms ease-in-out;
    vertical-align: middle;
    width: $default-w;
    height: $default-h;
    @apply inline-block relative bg-default-light rounded-full cursor-pointer;
    
    .switchery {
      transition: left 100ms ease-in;
      width: $default-h;
      height: $default-h;
      @apply absolute rounded-full bg-white shadow pin-l;
    }
  }

  &.block .toggle-switch {
    @apply block;
  }

  &.toggled .toggle-switch {
    @apply bg-default;

    .switchery {
      left: 40%;
    }
  }

  // sizes
  &.toggle-sm {
    width: $small-w;
    height: $small-h;

    .toggle-switch .switchery {
      width: $small-h;
      height: $small-h;
    }

    &.toggled .toggle-switch .switchery {
      left: 40%;
    }
  }

  &.toggle-lg {
    width: $large-w;
    height: $large-h;

    .toggle-switch .switchery {
      width: $large-h;
      height: $large-h;
    }

    &.toggled .toggle-switch .switchery {
      left: 40%;
    }
  }

  // colors
  @include generate-toggle-color('primary');
  @include generate-toggle-color('secondary');
  @include generate-toggle-color('info');
  @include generate-toggle-color('success');
  @include generate-toggle-color('warning');
  @include generate-toggle-color('danger');

  input {
    display: none;
  }

  .bi.bi-toggle-label {
    @apply block;
  }
}
