$class-name-sm: bi-col-sm !default;
$class-name-md: bi-col-md !default;
$class-name-lg: bi-col-lg !default;
$class-name-xl: bi-col-xl !default;
$class-offset-name-sm: offset-sm !default;
$class-offset-name-md: offset-md !default;
$class-offset-name-lg: offset-lg !default;
$class-offset-name-xl: offset-xl !default;

.bi.bi-grid-column {
  @apply w-full flex-grow flex-shrink p-1;
  flex-basis: 0;
  box-sizing: border-box;

  @for $i from 1 through 12 {
    &.offset-#{$i} {
      margin-left: (($i)/ 12) * 100%;
    }
  }

  @media screen and (max-width: theme("screens.sm")) {
    @for $i from 1 through 12 {
      &.#{$class-name-sm}-#{$i} {
        flex: none;
        width: (($i)/ 12) * 100%;
        &.#{$class-offset-name-sm}-#{$i} {
          margin-left: (($i)/ 12) * 100%;
        }
      }
    }
  }

  @media screen and (min-width: theme("screens.sm")) and (max-width: theme("screens.md")) {
    @for $i from 1 through 12 {
      &.#{$class-name-md}-#{$i} {
        flex: none;
        width: (($i)/ 12) * 100%;
      }
      &.#{$class-offset-name-md}-#{$i} {
        margin-left: (($i)/ 12) * 100%;
      }
    }
  }

  @media screen and (min-width: theme("screens.md")) and (max-width: theme("screens.lg")) {
    @for $i from 1 through 12 {
      &.#{$class-name-lg}-#{$i} {
        flex: none;
        width: (($i)/ 12) * 100%;
      }
      &.#{$class-offset-name-lg}-#{$i} {
        margin-left: (($i)/ 12) * 100%;
      }
    }
  }

  @media screen and (min-width: theme("screens.lg")) {
    @for $i from 1 through 12 {
      &.#{$class-name-xl}-#{$i} {
        flex: none;
        width: (($i)/ 12) * 100%;
      }
      &.#{$class-offset-name-xl}-#{$i} {
        margin-left: (($i)/ 12) * 100%;
      }
    }
  }
}
