@mixin tag-color($colorName: 'default', $colorValue: $colorName) {
  &.tag-#{$colorName} {
    @apply bg-#{$colorValue};
  }
}

.bi.bi-tag {
  @apply inline-block rounded-full px-3 py-1 font-sans font-normal text-sm text-white mr-2;

  &.closable {
    @apply cursor-pointer;
  }

  &.tag-sm {
    @apply px-2 py-0 text-xs leading-normal;
  }

  &.tag-lg {
    @apply px-4 py-2 text-lg;
  }

  svg {
    @apply ml-2;
    width: 12px;
    height: 12px;
    fill: #fff;
  }

  @include tag-color('default');
  @include tag-color('primary');
  @include tag-color('secondary');
  @include tag-color('info');
  @include tag-color('success');
  @include tag-color('warning');
  @include tag-color('danger');
}
